<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
  </head>
  <body>
    <h1>Hello Vue</h1>

    <div id="app">
      <!-- click=""の中はJavaScriptを書けるので{{}}は不要 -->
      <p>{{ title }} - {{author}} - 年齢：{{ age }}</p>
      <button v-on:click="age++">Increase age</button>
      <button v-on:click="age--">Decrease age</button>
      <div @click="changeTitle('ここに著者名')">Change book title</div>

      <!-- v-if トグル -->
      <div v-if="showBooks">
        <p>{{ title }} - {{author}} - {{ age }}</p>
      </div>
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <!-- <span v-if="!showBooks">Show Books</span> -->
        <!-- 上でも下でもいい -->
        <span v-else>Show Books</span>
      </button>
      <!-- v-ifはDOMを完全に削除、v-showはdisplay:noneという違いがある -->
      <div v-show="showBooks">currently showing books</div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
